.header-container{
  position: relative;
}
.bg-img{
  position: absolute;
  top:-50px
}
.bg-img-container{
  position: relative;
  height:450px;
  padding: 0;
  overflow: hidden;
}
.form-container{
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.right-banner {
  position: absolute;
  top: 120px;
  left: 117px;
}
